@model ProjetoSupermercado.Models.Produto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center">Criar Produto</h1>

    <div>
        <h4>Produto</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="validade" class="control-label"></label>
                <input asp-for="validade" class="form-control" type="date" />
                <span asp-validation-for="validade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" type="number" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
